.list-products {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product {
    border: solid 1px #eee;
    box-shadow: 0 5px 5px rgb(0, 0, 0, 0.1);
    width: 30%;
    padding: 5px 10px;
    border-radius: 15px;
}

.img {
    width: 100%;
}


.btn {
    background-color: #4db8ff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.layout {
    background-color: #fff;
    color: #0A283E;
    align-items: center;
    display: flex;
    flex-direction: column;

}

.title {
    margin-bottom: 30px;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
    justify-content: space-between;
    position: relative;
    padding: 0 50px;
    box-shadow: 0 2px 3px rgb(0,0,0,0.1);
}

.logo{
    font-weight: 700;
    font-size: 22px;
}

.carro {
    background-color: #359A2C;
    color: #fff;
    border: none;
    padding: 15px;
    border-radius: 15px;
    cursor: pointer;
}

.bubble {
    position: relative;
    left: 15px;
    top: 20px;
}

.bubbleAlert{
    background-color: #e9725a;
    border-radius: 15px;
    color: #fff;
    padding: 2px 10px;
    font-size: 0.9rem;
    width: 20px;
}

.detalleCarro {
    background-color: #fff;
    position: absolute;
    margin-top: 30px;
    box-shadow: 1px 5px 5px rgb(0,0,0,0.3);
    width: 300px;
    right: 50px;
}

.ul-det-carro{
    margin: 0px;
    padding: 0px;
}

.li-det-carro {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border-bottom: solid 1px #aaa;


 }