.list-products {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product {
    border: solid 1px #eee;
    box-shadow: 0 5px 5px rgb(0, 0, 0, 0.1);
    width: 25%;
    padding: 10px 15px;
    border-radius: 10px;
}

.img {
    width: 100%;
}

